@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Poppins", sans-serif;
}

h1,
h1 * {
    font-family: "Roboto", serif;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.main-width {
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
}

.bg-insideout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.main-width > .logo > img {
    height: 20px;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: clamp(1rem, 1vw, 2rem);
    right: clamp(1rem, 1vw, 2rem);
    gap: 0.5rem;
}

a {
    text-decoration: none;
}

i {
    font-size: 1.5rem;
    position: relative;
    display: flex;

    &.bi-ticket {
        transition: all 0.3s ease;

    }

    &.bi-info-circle {
        transition: all 0.3s ease;
    }
}

&:hover {

    i.bi-ticket,
    i.bi-info-circle {
        background-color: yellowgreen;
    }
}

& > .content {
    width: 70%;
    padding: clamp(.3rem, 1vw, 2rem) clamp(2rem, 1vw, 7rem);
    display: flex;
    flex-direction: column;
}
    &  h3.subtitle {
        position: absolute;
        top: 10%;
        left: 38%;
        font-size: clamp(1rem, 1.5rem, 2rem);
        font-weight: 400;
        letter-spacing: clamp(.3rem, 1rem, 1.3rem);
        margin-bottom: 1rem;
        z-index: 1;
    }

    &  h1.title {
        position: absolute;
        top: 20%;
        left: 30%;
        font-size: clamp(2rem, 3rem, 4rem);
        margin-bottom: 2rem;
        z-index: 1;
    }

    &  p.description {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 15px;
        z-index: 1;
    }

    &  nav {
        position: absolute;
        top: 80%;
        left: 30%;
        display: flex;
        gap: 1rem;
        width: fit-content;

        &:hover > :not(:hover) {
            opacity: 0.6;
        }

    &  a {
        display: inline-block;
        text-decoration: none;
        border: 1px solid white;
        padding: 9px 25px;
        border-radius: 25px;
        text-decoration: none;
        color: beige;
        font-weight: 500;
        transition: all 0.2s ease;
        font-size: clamp(.8rem, 1vw, 1.2rem);

        &:hover {
            transform: translate(-0.3rem, -0.3rem);
            filter: box-shadow: -15px -17px 0px 0px white;
        }

        &.ghost {
            background: rgb(174,190,238);
            background: radial-gradient(circle, rgba(174,190,238,1) 0%, rgba(75,98,201,1) 100%);
        }

        &.poison {
            background: rgb(174,190,238);
            background: radial-gradient(circle, rgba(174,190,238,1) 0%, rgba(161,75,201,1) 100%);
        }
    }
 }